body {
	background-color: #435a7f;
}

h1 {
	color: white;
}

.row
{
    width:100%;
	height: 100%;
    margin: 0 auto;
}

#top-nav {
	position: fixed;
	top: 0;
	right: 0;
	background: black;
	/*width: 100%;
	height: 8%;*/
	box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.3);
}

#top-heading {

	width: 100%;
	top: 10%;
	text-align: center;
	font-family: Lucida Console;
	position: relative;
	font-size: 4em;
}

input {
	width : 100%;
	height: 100%;
	padding: 2%;

}

#center-box {

	width: 50%;
	height: relative;
	position: absolute;
  	top: 40%;
	margin-left: 25%;
	margin-right: auto;
  	transform: translateY(-40%);
	opacity: 0.5;
	background-color: #496990;
	box-shadow: 3px 3px 8px #000;
}

#center-box .validation-form ul {
	margin-right: 3%;
	margin-bottom: 3%;
	margin-top: 3%;
	color: white;
}

#center-box .validation-form ul li {
    display: block;
    position: relative;
    margin-top: 5%;
    height: 10%
	color:red;

}

#camera {
	display: block;
	padding-top: 10%;
	padding-left: 5%;
}

#top-menu li {
	float: left;
}

#top-menu li a {
	text-align: center;
	display: block;
    color: white;
	font-size: 15pt;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#top-menu li a:hover {
    background-color: #111;
}

input#submit{
	cursor:pointer;
	padding:5px 25px;
	background:#35b128;
	border:1px solid #33842a;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	-webkit-box-shadow: 0 0 4px rgba(0,0,0, .75);
	-moz-box-shadow: 0 0 4px rgba(0,0,0, .75);
	box-shadow: 0 0 4px rgba(0,0,0, .75);
	color:#111;
	font-size:1.1em;
	font-family: Helvetica;
}
input#submit:hover, input#submit:focus {
	background-color :#399630; 
	-webkit-box-shadow: 0 0 1px rgba(0,0,0, .75);
	-moz-box-shadow: 0 0 1px rgba(0,0,0, .75);
	box-shadow: 0 0 1px rgba(0,0,0, .75);
}

p {
	text-align: center;
	color: #c11f1f;
}

select {
	width: 40%;
	height: 10%;
	display: table-row;
}

option {
	display: table-cell;
	height: 100%;
	width: 33%;
}

#selectedImage {
	display: none;
}

#capture{
    font-size: 300%;
    color: #fff;
    width: 50%;
    height: auto;
    z-index: 999;
    position: relative;
	float: right;
    //right: 50%;
	bottom: 50%;
    //border-radius: 50%;
    padding-top: 1%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    //background: #496990;
    //-moz-box-shadow: 0 10px 6px -6px rgba(0, 0, 0, 0.5);
    //-webkit-box-shadow: 0 10px 6px -6px rgba(0, 0, 0, 0.5);
    //box-shadow: 0 10px 6px -6px rgba(0, 0, 0, 0.5);
}

.side {
	display: inline-block;
}

#canvas {
	padding-left: 5%;
	float: left;
} 

#fileToUpload {
	height: 10%;
}

#buts {
	float: left;
	margin-left: 2%;
}

div.img {
    margin-top: 10%;
    border: 1px solid #ccc;
    float: left;
    width: 180px;
}

div.img:hover {
    border: 1px solid #777;
}

div.img img {
    width: 100%;
    height: auto%;
}

div.desc {
    padding: 15px;
    text-align: center;
}